Tests: basic
Depends: syslog-ng-core
Restrictions: allow-stderr

Tests: basic
Depends: syslog-ng
Restrictions: allow-stderr

Tests: basic
Depends: @
Restrictions: allow-stderr

Tests: baseconfig
Restrictions: needs-root, allow-stderr

Tests: testinitscript
Depends: @, procps
Restrictions: needs-root, allow-stderr
